{% extends 'base.html.twig' %}

{% block title %}Edit MondelezSubs{% endblock %}

{% block main %}
    <h1>Edit MondelezSubs</h1>

    {{ include('mondelez_subs/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('mondelez_subs_index') }}">back to list</a>

    {{ include('mondelez_subs/_delete_form.html.twig') }}
{% endblock %}
