{% extends 'base.html.twig' %}

{% block title %}New MondelezSubs{% endblock %}

{% block main %}
    <h1>Create new MondelezSubs</h1>

    {{ include('mondelez_subs/_form.html.twig') }}

    <a href="{{ path('mondelez_subs_index') }}">back to list</a>
{% endblock %}
