<!DOCTYPE html>
<html>
    <head>
        <!-- ... -->

        {% block stylesheets %}
        <link
                rel="stylesheet"
                href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
                integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
                crossorigin="anonymous"/>
            {# 'app' must match the first argument to addEntry() in webpack.config.js #}
            {{ encore_entry_link_tags('app') }}

            <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
            integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
            crossorigin="anonymous"/>
            {#Renders a link tag (if your module requires any CSS)#}
            {#<link rel="stylesheet" href="../assets/styles/app.css">#}

        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}

            
        {% endblock %}
    </head>
    <body>
        {% block main %}{% endblock %}
      <div id="root"></div>
    </body>
</html>